@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Recrutiment_Test.Models.Employee
@{
    ViewData["Title"] = $"Details of {Model.FullName}";
}
<h3>
    Details for @Model.FullName
</h3>
<table class="table">
    <tr>
        <th>Id: </th>
        <th>@Model.Id</th>
    </tr>
    <tr>
        <th>Full Name: </th>
        <th>@Model.FullName</th>
    </tr>
    <tr>
        <th>Subdivision: </th>
        <th>@(((List<string>)ViewData["Subdivisions"])[Model.Subdivision])</th>
    </tr>
    <tr>
        <th>Position: </th>
        <th>@(((List<string>)ViewData["Positions"])[Model.Position])</th>
    </tr>
    <tr>
        <th>Status: </th>
        <th>@(Model.Status ? "Active" : "Deactivated")</th>
    </tr>
    <tr>
        <th>People Partner</th>
        <th>@Model.PeoplePartnerNavigation.FullName</th>
    </tr>
    <tr>
        <th>Out-of-Office Balance</th>
        <th>@Model.OutOfOfficeBalance</th>
    </tr>
</table>
@if(Model.Position == 2)
{
    <div>
        Assigned to projects:
        <table class="table">
            <thead>
                <tr>

                    <th>
                        Project ID
                    </th>
                    <th>
                        Project Type
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Project Manager
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Projects)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @((Recrutiment_Test.Controllers.ProjectsController.ProjectTypes)[@item.ProjectType])
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @(item.EndDate == null ? "Unspecified" : item.EndDate.Value)
                        </td>

                        <td>
                            @item.ProjectManagerNavigation.FullName
                        </td>
                        <td>
                            @(item.Status ? "Active" : "Deactivated")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<div>
    <a asp-action="Index"><button class="btn-primary">Back</button></a>
</div>
