@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Employees";
    string SortOrder = (string)ViewData["SortOrder"];
}
@model IEnumerable<Recrutiment_Test.Models.Employee>

<head>
    <script>
        function SetSort(SortOrder) {
            document.getElementById("Order").value = SortOrder;
            document.getElementById("form1").submit();
        }
    </script>
</head>

<h2>Employees List</h2>
<table class="table">
    <thead>
        <tr>
            
            <th onclick="SetSort(@(SortOrder == "IDASC" ? "\"IDDESC\"" : "\"IDASC\""))">
                @Html.DisplayNameFor(model => model.Id)
                @(SortOrder == "IDASC" ? "↓" : "↑")
            </th>
            <th onclick="SetSort(@(SortOrder == "NAMEASC" ? "\"NAMEDESC\"" : "\"NAMEASC\""))">
                @Html.DisplayNameFor(model => model.FullName)
                @(SortOrder == "NAMEASC" ? "↓" : "↑")
            </th>
            <th onclick="SetSort(@(SortOrder == "SDASC" ? "\"SDDESC\"" : "\"SDASC\""))">
                @Html.DisplayNameFor(model => model.Subdivision)
                @(SortOrder == "SDASC" ? "↓" : "↑")
            </th>
            <th onclick="SetSort(@(SortOrder == "POSASC" ? "\"POSDESC\"" : "\"POSASC\""))">
                @Html.DisplayNameFor(model => model.Position)
                @(SortOrder == "POSASC" ? "↓" : "↑")
            </th>
            <th onclick="SetSort(@(SortOrder == "STSASC" ? "\"STSDESC\"" : "\"STSASC\""))">
                @Html.DisplayNameFor(model => model.Status)
                @(SortOrder == "STSASC" ? "↓" : "↑")
            </th>
            <th onclick="SetSort(@(SortOrder == "PPASC" ? "\"PPDESC\"" : "\"PPASC\""))">
                @Html.DisplayNameFor(model => model.PeoplePartner)
                @(SortOrder == "PPASC" ? "↓" : "↑")
            </th>
            <th onclick="SetSort(@(SortOrder == "OOOBASC" ? "\"OOOBDESC\"" : "\"OOOBASC\""))">
                @Html.DisplayNameFor(model => model.OutOfOfficeBalance)
                @(SortOrder == "OOOBASC" ? "↓" : "↑")
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @(((List<string>)ViewData["Subdivisions"])[@item.Subdivision])
                </td>
                <td>
                    @(((List<string>)ViewData["Positions"])[@item.Position])
                </td>
                <td>
                    @(item.Status ? "Active" : "Deactivated")
                </td>
                <td>
                    @item.PeoplePartnerNavigation.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutOfOfficeBalance) days
                </td>
                @if (User.IsInRole("Project Manager") || User.IsInRole("Administrator"))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id"><button class="btn-primary">Details</button></a>
                    </td>
                }
                @if(User.IsInRole("HR Manager") || User.IsInRole("Administrator"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn-primary">Edit</button></a>
                    </td>
                    <td>
                        @if (item.Status == true)
                        {
                            <a asp-action="Deactivate" asp-route-id="@item.Id"><button class="btn-primary">Deactivate</button></a>
                        }
                        else
                        {
                            <a asp-action="Deactivate" asp-route-id="@item.Id"><button class="btn-primary">Activate</button></a>
                        }
                    </td>
                }
                @if((User.IsInRole("Project Manager") || User.IsInRole("Administrator") && item.Position == 2))
                {
                    <td>
                        <a asp-action="Assign" asp-route-id="@item.Id"><button class="btn-primary">Assign to Project</button></a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (User.IsInRole("HR Manager") || User.IsInRole("Administrator"))
{
    <a asp-controller="Employees" asp-action="AddEmployee"><button class="btn-primary">Add new Employee</button></a>
}
<form asp-action="Index" method="get" id="form1">
    <input type="hidden" id="Order" name="Order" />
</form>


