@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Recrutiment_Test.Models.Project
@{
    ViewData["Title"] = $"Details of project {Model.Id}";
}
<h3>
    Details for project @Model.Id
</h3>
<table class="table">
    <tr>
        <th>Id: </th>
        <th>@Model.Id</th>
    </tr>
    <tr>
        <th>Project Type: </th>
        <th>@(((List<string>)ViewData["ProjectTypes"])[Model.ProjectType])</th>
    </tr>
    <tr>
        <th>Start Date: </th>
        <th>@Model.StartDate</th>
    </tr>
    <tr>
        <th>End Date: </th>
        <th>@(Model.EndDate == null ? "Unspecified" : Model.EndDate.Value)</th>
    </tr>
    
    <tr>
        <th>Project Manager</th>
        <th>@Model.ProjectManagerNavigation.FullName (Id: @Model.ProjectManagerNavigation.Id)</th>
    </tr>
    <tr>
        <th>Status: </th>
        <th>@(Model.Status ? "Active" : "Deactivated")</th>
    </tr>
    <tr>
        <th>Comment: </th>
        <th>@(Model.Comment == null ? "No comment given" : Model.Comment)</th>
    </tr>
</table>
<table class="table">
    <thead>
        <tr>

            <th>
                Id
            </th>
            <th>
                Full Name
            </th>
            <th>
                Subdivision
            </th>
            <th>
                Position
            </th>
            <th>
                Status
            </th>
            <th>
                People Partner
            </th>
            <th>
                Out-of-Office Balance
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @(Recrutiment_Test.Controllers.EmployeesController.subdivisions)[item.Subdivision])
                </td>
                <td>
                    @(Recrutiment_Test.Controllers.EmployeesController.positions)[item.Position])
                </td>
                <td>
                    @(item.Status ? "Active" : "Deactivated")
                </td>
                <td>
                    @item.PeoplePartnerNavigation.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutOfOfficeBalance) days
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index"><button class="btn-primary">Back</button></a>
</div>
