@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ApproveRequests";
    string SortOrder = (string)ViewData["SortOrder"];
}
@model IEnumerable<Recrutiment_Test.Models.ApprovalRequest>

<head>
    <script>
        function SetSort(SortOrder) {
            document.getElementById("Order").value = SortOrder;
            document.getElementById("form1").submit();
        }
    </script>
</head>

<h2>Approve Requests List</h2>
<table class="table">
    <thead>
        <tr>
            <th onclick="SetSort(@(SortOrder == "IDASC" ? "\"IDDESC\"" : "\"IDASC\""))">
                @Html.DisplayNameFor(model => model.Id)
                @(SortOrder == "IDASC" ? "↓" : "↑")
            </th>
            <th onclick="SetSort(@(SortOrder == "APRASC" ? "\"APRDESC\"" : "\"APRASC\""))">
                @Html.DisplayNameFor(model => model.Approver)
                @(SortOrder == "APRASC" ? "↓" : "↑")
            </th>
            <th onclick="SetSort(@(SortOrder == "LRASC" ? "\"LRDESC\"" : "\"LRASC\""))">
                @Html.DisplayNameFor(model => model.LeaveRequest)
                @(SortOrder == "LRASC" ? "↓" : "↑")
            </th>
            <th onclick="SetSort(@(SortOrder == "STSASC" ? "\"STSDESC\"" : "\"STSASC\""))">
                @Html.DisplayNameFor(model => model.Status)
                @(SortOrder == "STSASC" ? "↓" : "↑")
            </th>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @item.ApproverNavigation.Id
                </td>
                <td>
                    @item.LeaveRequestNavigation.Id
                </td>
                <td>
                    @(((List<string>)ViewData["Statuses"])[@item.Status])
                </td>
                <td>
                    <a asp-action="Approve" asp-route-id="@item.Id"><button class="btn-primary">Approve</button></a>
                </td>
                <td>
                    <a asp-action="Reject" asp-route-id="@item.Id"><button class="btn-primary">Reject</button></a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><button class="btn-primary">Details</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="Index" method="get" id="form1">
    <input type="hidden" id="Order" name="Order" />
</form>


