@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Recrutiment_Test.Models.ApprovalRequest
@{
    ViewData["Title"] = $"Details of Approval Request {Model.Id}";
}
<h3>
    Details for Approval Request @Model.Id
</h3>
<table class="table">
    <tr>
        <th>Id: </th>
        <th>@Model.Id</th>
    </tr>
    <tr>
        <th>Approver:</th>
        <th>@Model.ApproverNavigation.FullName (Id: @Model.ApproverNavigation.Id)</th>
    </tr>
    <tr>
        <th>Requesting Leave:</th>
        <th>@Model.LeaveRequestNavigation.EmployeeNavigation.FullName (@Model.LeaveRequestNavigation.EmployeeNavigation.Id)</th>
    </tr>
    <tr>
        <th>Start Date: </th>
        <th>@Model.LeaveRequestNavigation.StartDate</th>
    </tr>
    <tr>
        <th>End Date: </th>
        <th>@Model.LeaveRequestNavigation.EndDate</th>
    </tr>
    <tr>
        <th>Number of Days: </th>
        <th>@((int)(Model.LeaveRequestNavigation.EndDate.ToDateTime(new TimeOnly(0, 0)) - Model.LeaveRequestNavigation.StartDate.ToDateTime(new TimeOnly(0))).TotalDays)</th>
    </tr>
    <tr>
        <th>Employees Out-of-Office Balance</th>
        <th>@Model.LeaveRequestNavigation.EmployeeNavigation.OutOfOfficeBalance</th>
    </tr>
    <tr>
        <th>Absence Reason:</th>
        <th>@(Recrutiment_Test.Controllers.LeaveRequestsController.absenceReasons[Model.LeaveRequestNavigation.AbsenceReason])</th>
    </tr>
    <tr>
        <th>Status: </th>
        <th>@(((List<string>)ViewData["Statuses"])[Model.Status])</th>
    </tr>
    <tr>
        <th>Comment: </th>
        <th>@(Model.Comment == null ? "No comment given" : Html.Raw(Model.Comment))</th>
    </tr>
</table>
<div>
    <a asp-action="Index"><button class="btn-primary">Back</button></a>
</div>
